<div class="page-header">
  <h1>
    All my skills
    <a href="/positions" class="btn btn-lg btn-success">Go Back My Profile</a>

  </h1>

</div>

<div class="row">
  <div class="col-md-6">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <%@names=Array[]%>
    <% @positions.each do |position| %>
    <%x=position.role.tasks%>
    <% x.each do |i| %>
    <%@names.push(i.skill.name) unless @names.include?(i.skill.name)%>
    <% end %>
    <%end%>
    <div class="panel-heading text-success"> You have <%=@names.count%> unique skills!</div>


    <!-- List group -->
    <%sorted_names=@names.sort%>
    <%sorted_names.each do |name|%>
    <ul class="list-group">
      <li class="list-group-item"><%=name%></li>
    </ul>
    <%end%>

  </div>


</div>
