<div class="page-header">
  <h1>
    All my skills
    <a href="/positions" class="btn btn-lg btn-success">Go Back My Profile</a>

  </h1>

</div>

<div class="row">
  <div class="col-md-12">

      <ul class="media-list">
          <%@names=Array[]%>
      <% @positions.each do |position| %>
       <%x=position.role.tasks%>
       <li class="media">
         <div class="media-body">

        <% x.each do |i| %>

        <h6 class="media-heading">

        <%@names.push(i.skill.name) unless @names.include?(i.skill.name)%></h6>

      <% end %>

      </div>
      <% end %>
      <div class="list-group">
        <%sorted_names=@names.sort%>
        <%sorted_names.each do |name|%>
      <li>  <%=name%>
      </li>
      <%end%>
      </div>

      </div>
      </li>
    </ul>
</div>
</div>
