<div class="page-header">
  <h1>
    Positions
    <a href="/positions/new" class="btn btn-lg btn-success">New Position</a>
    <a href="/all_skills" class="btn btn-lg btn-success">See all my skills</a>
    <a href="/role_interest" class="btn btn-lg btn-success">Role of interest</a>
  </h1>

</div>

<div class="row">
    <% @positions.each do |position| %>
    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title"><%=position.role.title.singularize%></h3>
        </div>
        <% x=position.role.tasks%>
        <% x.each do |i| %>
        <div class="panel-body">
          <%= i.skill.name%>
        </div>
        <% end %>
        <div class="panel-footer">  <a href="/delete_position/<%= position.id %>" class="btn btn-danger btn-block" rel="nofollow">Delete</a></div>
      </div>
      </div>
        <% end %>
  </div>
