<div class="page-header">
  <h3><%= @user.username%>'s roles and skills</h3>
</div>


<div class="row">
    <% @user.positions.each do |position| %>
    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title"><%=position.role.title.singularize%></h3>
        </div>
        <% x=position.role.tasks%>
        <% x.each do |i| %>
        <div class="panel-body">
          <%= i.skill.name%>
        </div>
        <% end %>
        <%if @user.id ==current_user.id%>
        <div class="panel-footer">  <a href="/delete_position/<%= position.id %>" class="btn btn-danger btn-block" rel="nofollow"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
        <%end%>
      </div>
      </div>
        <% end %>
  </div>
